<!DOCTYPE html>
<html >
<head>
	<link href="css/main.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
	 <link href="https://content.codecademy.com/projects/bootstrap.min.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="firstApp">

	<div class="header">
      <div class="container">
        <h1>Book club</h1>
      </div>
    </div>

    <div class="main" ng-controller="MainController">
      <div class="container">

        <h1>{{ title.name }} je Bog!!!</h1>
        <p>Name: <input type="text" ng-model="title.name"></p>
        <h2>{{ promo }}</h2>
        <div ng-repeat="product in products" class="col-md-6"> 
        <div class="thumbnail"> 
          <img ng-src="{{ product.cover }}"> 
          <p class="title">{{ product.name }}</p> 
          <p class="price">{{ product.price | currency }}</p> 
          <p class="date">{{ product.pubdate | date }}</p> 
        <div class="rating"> 
  <p class="likes" ng-click="plusOne($index)"> {{ product.likes }}</p> 
  <p class="dislikes" ng-click="minusOne($index)"> {{ product.dislikes }}</p> 
</div>   
        </div> 
      </div> 
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>SVE SI MI OMOGUČIO!!!</h2>
        <p>All rights reserved</p>
        <img src="img/leksi.jpg" />
      </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

  </body>
</html>